<!DOCTYPE html>
<html>
    <head>
        <title>vue js2</title>
        <link href="css/style.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
        
    </head>
    <body>
        <div id="vue-app">
            <h1>Example 1</h1>
            <div @click="available = !available" v-bind:class="{available:available}">
            <span>click me</span>  
            <br>
                
            <button v-on:click="error = !error">toggle error</button>
            <button v-on:click="success = !success">toggle success</button>
            <p  v-if="error">we have got an error</p>
            <p  v-else-if="success">we are successful</p>
             <!-- v-show is similar to v-if but it uses css {display:none} instead of removing the tag from dom -->  
            <p  v-show="error">we have got an error</p>
            <p  v-show="success">we are successful</p>
                
            <!-- loops -->
            <ul>
                <li v-for="char in characters">{{char}}</li>    
            </ul>
            <ul>
                <li v-for="(ninja,index) in ninjas">[{{index}}] {{ninja.name}} - {{ninja.age}}</li>
            </ul>   
                <div v-for="(ninja,index) in ninjas"> <!-- this will add extra div element every time which is not good  -->
                    <h3>{{index}}.{{ninja.name}}</h3>
                    <p>{{ninja.age}}</p>
                </div>
                <template v-for="(ninja,index) in ninjas"> <!-- we just want content to be present and not the div , so use <template>  -->
                    <h3>{{index}}.{{ninja.name}}</h3>
                    <p>{{ninja.age}}</p>
                </template>
                <template v-for="(ninja,index) in ninjas"> <!-- we just want content to be present and not the div , so use <template>  -->
                    <h3 v-for="(key,val) in ninja">{{key}}-{{val}}</h3>
                    <p>{{ninja.age}}</p>
                </template>
                
            
            </div>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>